@using Business.DTO
@{
    ViewData["Title"] = "Kullanıcı İşlemleri";
    Layout = "_Layout";
}
@model List<UserDTO>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/DataTable/datatables.min.css" />
</head>


<table id="UserListTable" class="table table-hover">
  <thead>
    <tr>
      @*<th scope="col">#</th>*@
      <th scope="col">Adı</th>
      <th scope="col">Soyadı</th>
      <th scope="col">EPosta</th>
    </tr>
  </thead>
  <tbody>

@foreach(var user in Model)
{
    <tr>
        @*<td>@user.FirstName</td>*@
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.Email</td>
    </tr>




}
  </tbody>
</table>


@section Scripts {
    <script src="~/lib/DataTable/datatables.min.js"></script>

    <script type="text/javascript">
            $(document).ready( function () {
                $('#UserListTable').DataTable({
			         "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tümü"]],
                      //"language": {"url": "/lib/DataTable/Turkish.json"}
                      "language": {"url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"}
                      
			       });
            });    
    </script>

}


